*{
    margin: 0;
    padding:0;
    font-family: 'Roboto', san-serif;
}

a{ 
    color: #fcd440 !important; 
    text-decoration: none 
}

h1{ 
    color: #ffffff; 
    font-weight: 400; 
    margin: 1rem 0; 
    opacity: 0.95 
}

h2{ 
    color: #000000; 
    opacity: 0.95 
}

h5{ 
    color: #f3763c; 
    opacity: 0.95 
}

p{ 
    color: #ffffff; 
    margin: 1rem 0 
}

.desc{ 
    font-size:  0.95rem; 
    opacity: 0.85; 
    white-space: normal 
}

.header{ 
    align-items: center; 
    background: rgb(0,242,255);
    background: linear-gradient(90deg, rgba(0,242,255,1) 0%, 
    rgba(0,255,234,1) 0%, rgba(120,9,247,1) 58%, 
    rgba(170,51,244,1) 74%,  rgba(255,0,163,1) 100%); 
    display: flex; left: 0; justify-content: space-between; padding: 0.5rem 1rem; position: fixed; right: 0; top: 0; z-index: 1 
}

.header div.logo{ 
    display: flex; 
    align-items: center 
}

.header img{ 
    height: 1.5rem; 
    margin-right: 0.5rem; 
    width: 1.5rem 
}

.box { 
    background: rgba(255, 255, 255, 0.85); 
    border-radius: 0.25rem; 
    flex: 2 2; 
    margin: 0.5rem; 
    min-width: 15rem; 
    max-width: 21rem; 
    padding:  1.5rem; 
    text-align: center; 
    white-space: nowrap; 
    width: 21rem; 
    z-index: 2 }

.container{
    width: 100%;
    height: 99vh;
    background-position: center;
    background-size: cover;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 16%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.gradient {
  background: rgb(255,0,163);
  background: linear-gradient(
    90deg, rgba(255,0,163,1) 0%, 
    rgba(170,51,244,1) 24%, rgba(120,9,247,1) 42%, 
    rgba(57,68,255,1) 58%, rgba(57,127,255,1) 76%, 
    rgba(0,255,234,1) 100%, rgb(53, 119, 122) 100%); 
}

.row{
    display: fles;
    height:34%;
    align-items: center;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 22%;
}

.col{
    flex-basis: 45%;
    display: flex;
}

#particles-js{
    background-size: cover;
    background-position: center;
    background: rgb(255,0,163);
    background: linear-gradient(
    90deg, rgba(255,0,163,1) 0%, 
    rgba(170,51,244,1) 24%, rgba(120,9,247,1) 42%, 
    rgba(57,68,255,1) 58%, rgba(57,127,255,1) 76%, 
    rgba(0,255,234,1) 100%, rgb(53, 119, 122) 100%);
}


button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card{
    width: 350px;
    height: 300px;
    display: inline-block;
    border-radius: 20px;
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 22%;
    box-sizing: border-box;
    cursor: pointer;
    margin: 12px 12px;
    background-image: linear-gradient(
    90deg, rgba(163, 28, 114, 0.528) 0%, 
    rgba(115, 22, 174, 0.494) 24%, rgba(93, 19, 179, 0.515) 42%, 
    rgba(21, 29, 181, 0.501) 58%, rgba(26, 80, 181, 0.501) 76%, 
    rgba(11, 145, 134, 0.515) 100%, rgba(18, 127, 133, 0.515) 100%), 
    url(background.png);
    background-position: center;
    background-size: cover;
}                                                                             